/* General Styles */
body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    min-width: 100%;
    margin: 0;
    font-family: 'Premier Sans', sans-serif;
}

/* Header Styles */
.header {
    display: flex;
    justify-content: space-between;
    background-color: #37003c;
    padding: 10px;
}

.header-left-links {
    display: flex;
    align-items: center;
}

.header-right-links {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-right: 20px;
}

.how-to-play {
    background-color: #37003c;
    border: #37003c;
    color: #FFFFFF;
    font-size: 18px;
    font-family: 'Premier Sans', sans-serif;
    transition-duration: 0.5s;
}

.how-to-play:hover {
    color: #00ff87;
}

.stats {
    background-color: #37003c;
    border: #37003c;
    color: #FFFFFF;
    font-size: 18px;
    font-family: 'Premier Sans', sans-serif;
    transition-duration: 0.5s;
}

.stats:hover {
    color: #00ff87;
}

.logo {
    height: 40px;
}

/* Modal Styles */
.modal{
    padding: 1em;
    max-width: 50ch;
    border-color: #37003c;
    border-radius: 5px;
    font-size: 22px;

}
.modal::backdrop{
    background: gray;
    opacity: 0.5;
}

.modal-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.how-to-play-hide, .stats-hide{
    /* margin-top: 5px;
    margin-right: 5px; */
    height: 30px;
    width: auto;
    background-color: #FFFFFF;
    border: 0px;
    font-size: 25px;
}

/* Title Styles */
.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #37003c;
    font-size: 60px;
    font-weight: bolder;
    margin-bottom: 0px;
}

.title p {
    font-size: 24px;
    color: #37003c;
    margin-top: 5px;
}

/* Content Styles */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.guessing-game {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.player-silhouette-button {
    max-width: 10%;
    padding: 10px;
    margin-bottom: 10px;
    font-family: 'Premier Sans', sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #37003c;
    border: solid  #37003c;
    border-radius: 5px;
    transition-duration: 0.4s;
}

.player-silhouette-button:hover {
    background-color: #00ff87;
    color: #37003c;
}

input {
    min-width: 70%;
    height: 50px;
    border: #37003c solid 1px;
    border-radius: 10px;
    font-size: 18px;
}

/* Dynamic Hint Bar Styles */
#hint-container{
    overflow-y: scroll;
    max-height: 300px;
    min-width: 90%;
}

.hint-bar{
    display: grid;
    grid-template-rows: 90%;
    /* grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr; */
    grid-template-columns: 300px 100px 100px 100px 100px 100px;
    gap: 20px;
    place-content: center;
    background-color: white;
    height: 80px;
    min-width: 90%;
    margin-top: 10px;
}

.clue-card{
    height: 100%;
    width: auto;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
}

.hint-bar-name{
    background-color: lightgray;
}

.match{
    display: flex;
    background-color: #228B22;
    align-items: center;
    justify-content: center;
    font-size: larger;
    color: white;
}
/* Footer Styles */
.footer {
    display: flex;
    justify-content: space-between;
    background-color: #37003c;
    height: 40px;
    padding: 10px;
    margin-top: auto;
}

.footer-right-links {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-right: 20px;
}

.footer a {
    color: #FFFFFF;
    font-size: 18px;
    text-decoration: none;
}

a:hover {
  text-decoration: underline;  
}

/* Javascript DOM styles */
